<form [formGroup]="form">
  <app-checkbox-list-input [values]="messageTypesValues" formControlName="messageTypes"></app-checkbox-list-input>
  <app-validation-messages [formGroupValidation]="form" field="messageTypes"></app-validation-messages>
  <div class="form-group">
    <label class="form-label">Airports</label>
    <app-help/>
    <app-multi-input class="form-control" formControlName="airports"/>
  </div>
  <div class="form-group">
    <label class="form-label">Countries</label>
    <app-help/>
    <app-multi-input class="form-control" formControlName="countries"/>
  </div>
  <app-validation-messages [formGroupValidation]="form"/>
  <button class="btn btn-primary" type="button" (click)="onFormSubmit()">Submit</button>
</form>


<pre>{{form.value | json}}</pre>
<pre>{{form.status | json}}</pre>
<pre>{{form.get('messageTypes')?.status | json}}</pre>
